# Variaveis de ambiente do servidor
# Environment: local | prod
ENVIRONMENT=local
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
# prefixo de api escolhido - opcional
# API_PREFIX=

# Base de dados com informações dos usuarios, conversas e agentes
DATABASE_URL=postgresql+psycopg://.......

# Variaveis de ambiente do R2 (Cloudflare) para salvar midias e outras informações
R2_ENDPOINT_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUB_URL=

# Variveis do chatwoow para permitir integração com Whatsapp
CHATWOOT_API_URL=
CHATWOOT_API_KEY=
CHATWOOT_ACCOUNT_ID=
CHATWOOT_INBOX_ID=

# Configuração do redis para uso de cache
REDIS_HOST=
REDIS_PORT=
# Variaveis do celery para processamento assincrono - já vem junto com o Redis mas é opcional
# CELERY_BROKER_URL=
# CELERY_RESULT_BACKEND=

# Configuração do debounce para agrupar mensagens recebidas - opcional pois já tem valores padrão
# DEBOUNCE_WAIT_TIME=5000
# DEBOUNCE_MAX_ATTEMPTS=10
# DEBOUNCE_MAX_MESSAGES=10

# Configurações das LLMs
# AGENT_PROVIDER=openai # opcional se apenas 1 tiver definida - openai | anthropic
OPENAI_API_KEY=
# ANTHROPIC_API_KEY= # estamos usando openai no projeto entao não precisamos da Anthropic
# TRANSCRIPTION_PROVIDER= openai | elevenlabs
# OPENAI_TRANSCRIPTION_MODEL=
# ELEVENLABS_API_KEY=
# ELEVENLABS_TRANSCRIPTION_MODEL=
NSFW_PROVIDER=openai_moderation # openai_moderation ou nada

# Configurações do Qdrant para RAG e do Bm25 - opcional, ja temos alguns valores padrão
QDRANT_URL=
# QDRANT_API_KEY=
# QDRANT_COLLECTION_NAME=buildings_rag
# QDRANT_EMBEDDING_MODEL=text-embedding-3-small
# QDRANT_VECTOR_SIZE=1536
# QDRANT_SEARCH_LIMIT=5
# RAG_DENSE_WEIGHT=0.7
# RAG_BM25_WEIGHT=0.3
# RAG_CHUNK_SIZE=800
# RAG_CHUNK_OVERLAP=160
# RAG_MAX_CONTEXT_CHUNKS=4