@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem; /* Scrollbar width */
  }
  
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}



.hamburger-line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Styling for the hamburger icon when the sidebar is open can go here */
/* For example, to animate the lines into an "X" */
.sidebar-open .hamburger-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.sidebar-open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.sidebar-open .hamburger-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
